.p{
  width=device-width;
  background-color:  #cc00cc;
}
.p1{
  width=device-width;
  background-color: #00a3cc;
}
.a{
  text-align: center;
}

.b{
  text-align: inherit;


}

.c{
  text-align: left;

}

.d{
  color:black;

}
.header {
    background-color: #0375B4;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 30px;
}

.list {
    font-size: 20px;
}

#map {
    height: 60%;
    position: relative;
    padding: 10px;
    margin-top: 50px;
}

.col-md-10 {
    border-radius: 10px;
}

body {
font-family: 'Kranky', cursive;
}
